<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Динамічний Flask</title>
</head>
<body>
    <h1>Вітаємо, {{ name }}!</h1>
    <p>Цю сторінку сформовано шаблонізатором Jinja2.</p>
</body>
</html>